.prose {
  padding-top: min(5%, 4rem);
  padding-bottom: min(5%, 4rem);
  font-size: var(--typeScale-1);
  line-height: var(--lineHeight-base);

  h1 {
    font-size: var(--typeScale-4);
  }

  h2 {
    font-size: var(--typeScale-3);
    margin-top: 1em;
  }

  h3 {
    font-size: var(--typeScale-2);
  }

  h4 {
    font-size: var(--typeScale-1);
  }

  h5 {
    font-size: var(--typeScale-1);
  }

  h6 {
    font-size: var(--typeScale-1);
  }

  p {
    margin-top: 1em;
  }

  .markdown-header-anchor {
    margin-left: -16px;
    display: none;

    h1:hover &,
    h2:hover & {
      display: inline-block;
    }
  }

  abbr {
    text-decoration: none;
    border-bottom: 1px dotted gray;
  }
}
