@import 'reset.css';

:root {
  --slate-blue-shade-50: #121c23;
  --slate-blue-shade-20: #1d2c38;
  --slate-blue-100: #243746;
  --slate-blue-80: #41494f;
  --slate-blue-70: #596065;
  --slate-blue-50: #929ba3;
  --slate-blue-30: #bdc3c8;
  --mist-blue-100: #d5eaf4;
  --typeScale-base: calc(1rem + 0.3vw);
  --typeScale-multiplier: 1.25;
  --typeScale-1: var(--typeScale-base);
  --typeScale-2: calc(var(--typeScale-1) * var(--typeScale-multiplier));
  --typeScale-3: calc(var(--typeScale-2) * var(--typeScale-multiplier));
  --typeScale-4: calc(var(--typeScale-3) * var(--typeScale-multiplier));
  --typeScale-5: calc(var(--typeScale-4) * var(--typeScale-multiplier));
  --typeScale-0: calc(var(--typeScale-1) / var(--typeScale-multiplier));
  --spacing-base: var(--typeScale-base);
  --spacing-1: calc(var(--spacing-base / 4));
  --spacing-2: calc(var(--spacing-1) * 2);
  --spacing-3: calc(var(--spacing-1) * 3);
  --spacing-4: calc(var(--spacing-1) * 4);
  --paddingY: 7%;
  --paddingX: 15%;
  --paddingX: calc(10% + 5vw);
  --page-maxWidth: 40em;
}

@font-face {
  font-family: Equinor;
  src: url(https://cdn.eds.equinor.com/font/Equinor-Medium.woff2)
    format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: Equinor;
  src: url(https://cdn.eds.equinor.com/font/Equinor-Regular.woff2)
    format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: Equinor;
  src: url(https://cdn.eds.equinor.com/font/Equinor-Italic.woff2)
    format('woff2');
  font-style: italic;
  font-weight: 400;
  font-display: block;
}

body {
  margin: 0;
  font: 400 1rem Equinor, sans-serif;
  background-color: var(--slate-blue-shade-50);
  background-image: linear-gradient(
    var(--slate-blue-shade-50),
    var(--slate-blue-shade-20)
  );
  background-attachment: fixed;
  background-position: center;
  color: var(--slate-blue-30);
  line-height: 1.5;
  font-size: var(--typeScale-1);
  padding: var(--paddingY) var(--paddingX);
}

article {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--page-maxWidth);
}

h1,
h2 {
  color: var(--mist-blue-100);
  line-height: 1.2;
  column-span: all;
}

h1 {
  font-size: var(--typeScale-5);
  margin-bottom: 0.3em;
}

h2 {
  font-size: var(--typeScale-3);
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h1 + p,
h1 + p + p {
  font-size: var(--typeScale-2);
  font-weight: 500;
  column-span: all;
  margin-top: 1.3em;
}

p + p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

ul {
  margin-bottom: 1.5em;
}

small {
  font-size: var(--typeScale-0);
}

a {
  color: var(--mist-blue);
  margin-top: 0;
}

.author {
  margin-top: 2em;
}

.markdown-header-anchor {
  margin-left: -1.5rem;
  padding-right: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  display: inline-grid;
  vertical-align: top;
  align-items: center;
  height: 1em;

  h1:hover &,
  h2:hover & {
    opacity: 1;
  }

  svg {
    fill: var(--mist-blue-100);
    width: 16px;
    height: 16px;
  }
}
